
* {
    --document-background-color: #B1AFFF;
    --base-background-color: #FFE9D0;
    --button-color: pink;
    --content-background-color: #FFFED3;
    --border-color: black;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

:root{
    background-color: var(--document-background-color);
}

/* section to organize main sections of page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* style form area */
.form.container > form{
    position: relative;
    height: min-content;
    width: min-content;

    input{
        position: static;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
    }
    img.submit{
        position: absolute;
        max-height: 100% !important;
        width: auto !important;
        padding: 2px;
        right: 3px;
        top: 0;
    }
}

/* style current weather area */
.today.weather.container{
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: var(--base-background-color);
    border-radius: 5px;
    text-align: center;
    padding: 20px;

    .condition{
        grid-area: 1 / 1 / 3 / 2;
        align-self: center;

        img{
            width: 80px !important;
            height: auto;
        }
    }

    .temp{
        grid-area: 1 / 2 / 2 / 3;
    }

    .time{
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
    }

    .precip {
        grid-area: 1 / 3 / 3 / 4;
        align-self:center;
    }
}

/* style forecast */
.forecast.box.container{
    display:flex;
    justify-content: space-between;
    border: 2px var(--border-color);
    gap: 2px;
    text-align: center;

    .forecast.box{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background-color: var(--content-background-color);
        padding: 2px;
        border-radius: 3px;

        p.dayAndDate{
            font-size: 20px;
            font-weight: bold;
        }

        p.temp{
            font-size: 25px;
        }
    }
}